
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b4b4a;
    color: #d0d0d0;  /* Default text color */
    line-height: 1.6;
}

@font-face {
    font-family: 'InterTight';
    src: url('fonts/InterTight-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

h1, h2 {
    font-family: 'InterTight', sans-serif;
}

h3, p.serif {
    font-family: 'PlayfairDisplay', serif;font-weight: 100;
}

h3.bold {
	font-weight: 900;
}

p, ul {
    font-family: 'InterTight', sans-serif;
}


header {
    text-align: center;
    padding: 1em 0;
    background-color: #4b4b4a;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#sidebar {
    flex: 1;
    background-color: #4b4b4a;
    padding: 2em;
    border-right: 2px solid #d0d0d0;
}

#main-content {
    flex: 3;
    background-color: #4b4b4a;
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h1 {
    font-size: 7em;
    color: #ffffff; width: 100%; text-align: left;	
}

h2 {
    font-size: 4em;
    color: #ffffff;
}

h3 {
    font-size: 1.5em;
    color: #ffffff;
}

p {
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

#experience {
    display: flex;
    flex-direction: column; z-index: 2;
}

.experience-entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;
}

.experience-heading {
    flex: 1;
    text-align: right;
}

.experience-heading hr {
    border: 1px solid #CCC;
    margin-bottom: 1em; 
}

.experience-details {
    flex: 2;
    padding-left: 2em;
}

.experience-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#intro img {
    flex: 1; position: absolute;
}

#intro div {
    flex: 3; margin:-50px 0 0 545px;
}

#ramo-loves-design {
	width: 250px; padding: 0 30px;
}

.examples-entry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2em;
}

examples-entry h2 {
	line-height: 1;
}

.examples-heading {
    flex: 1;
    text-align: center;
}

.examples-details {
    flex: 2;
    padding-left: 2em;
}

#get-in-touch h1 {
	text-align: center;
}